{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block style %}

{% endblock %}

{% block main %}

<div class="row justify-content-center">
    <h2>Select a Donor Profile</h2>
</div>
<div class="row justify-content-center">
    <form id="search" action="/search" method="get">
        <div class="form-row">
            <div class="form-group col-sm-12">
                <input autocomplete="off" autofocus class="form-control" name="id" placeholder="Patient ID" list="suggestions" onkeyup="search();" type="text">
                <datalist id="suggestions">
                    {% for id in id %}
                    <option value="{{ id }}">{{ id }}</option>
                    {% endfor %}
                </datalist>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>  
</script>
{% endblock %}