{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block style %}

{% endblock %}

{% block main %}

<div class="row justify-content-center">
	<form action="/upload" enctype="multipart/form-data" method="post">
		<div class="form-group">
			<label for="id">Patient ID</label>
			<input type="text" class="form-control" name="id" id="id" required>
		</div>
		<div class="form-group">
			<label for="location">Location</label>
			<select name="location" class="form-control" id="location" required>
				<option value="1">A</option>
				<option value="2">B</option>
				<option value="3">C</option>
				<option value="4">D</option>
				<option value="5">E</option>
				<option value="6">F</option>
				<option value="7">G</option>
				<option value="8">H</option>
				<option value="9">I</option>
				<option value="10">J</option>
				<option value="11">K</option>
			</select>
		</div>
		<div class="form-group">
			<label for="upload">Genome vcf Upload</label>
			<input type="file" class="form-control-file" name="file" id="file" required>
		</div>
		<button type="submit" class="btn btn-primary">Upload</button>
	</form>
</div>
{% endblock %}